body {
  background-image: linear-gradient(to bottom, #80bab1, #ffffff 100%);
}

.container {
  display: block;
  margin: 0 auto;
  width: 100%;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 20px;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

h1,
h3 {
  font-weight: bold;
  color: black;
}

h2 {
  font-weight: 300;
  color: black;
}

footer {
  display: block;
  margin: 30px;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

ul {
  display: block;
  list-style: none;
  color: black;
}

.searched-city-info {
  text-align: center;
  margin: 100px;
}

.bubble {
  padding: 100px 0;
  margin: 10px, 20px;
  max-width: 100%;
  background-image: #80bab1;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.bubble div {
  text-align: center;
}

.top-bar {
  text-align: center;
  margin: 20px;
}

.highest-temp {
  font-weight: bolder;
}

.next-days {
  display: block;
  margin-bottom: 20px;
}

.extra-info {
  font-weight: light;
  font-style: oblique;
  color: black;
}

.searched-city-info {
  text-align: center;
  margin: 100px;
}

.open-source {
  display: block;
  margin: 0 auto;
  padding: 20px;
  max-width: 1320px;
  text-decoration: none;
  text-align: center;
  color: black;
  font-weight: bold;
}

#current-location-button {
  background-color: rgba(224, 187, 135, 0.85);
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(156, 115, 115, 0.2);
}
#search {
  background-color: rgba(224, 187, 135, 0.85);
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

#city-input {
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
