body {
  font-family: "Poppins", sans-serif;
  margin: 5px 50px;
  padding: 0px 250px;
  color: #894b62;
}

.container {
  display: block;

  background: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/016/487/original/background.jpg?1630589920");
  background-repeat: no-repeat;
  background-size: 1897px;
  margin: 30px auto;
  padding: 45px 50px;
  width: 100%;
  border-style: solid;
  border-color: #ffffff;
  max-width: 1140px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 1px;
}

.top-bar {
  text-align: center;
  margin: 20px;
  font-weight: 300;
  color: #324b4e;
}

.searched-city-info {
  text-align: center;
  margin: 100px;
  color: #324b4e;
  font-weight: 300;
}

#current-location-button,
#search,
#city-input {
  background-color: rgba(255, 255, 255);

  box-shadow: 5px 5px 10px rgba(156, 115, 115, 0.1);
  border-radius: 4px;
  color: #324b4e;
  font-weight: 300;
  padding: 6px;
}

h1 {
  display: block;
  color: white;
  font-size: 30px;
}

.celsius {
  display: inline;
  font-size: 30px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-style: italic;
}

#temp-num {
  display: inline;
}

.feel-celsius {
  font-size: 12px;
}

h2 {
  display: block;
  font-weight: 300;
  color: white;
  font-size: 80px;
}

h3 {
  display: block;
  font-size: 20px;
  font-weight: 300;
  color: white;
  text-transform: capitalize;
}

.real {
  color: white;
}

ul {
  display: block;
  list-style: none;
  color: white;
}

.extra-info {
  font-weight: 300;
  font-style: oblique;
  color: white;
  border-left: solid white;
}

.dates-displayed {
  font-weight: 300;
  color: white;
  font-weight: 500;
}

.next-days {
  display: block;

  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 6px;
  font-weight: 600;
  color: white;
  border: thin;
  background-color: #9ec7cd;
  box-shadow: 5px 5px 10px rgba(98, 109, 114, 0.9);
  max-width: 14%;
}

#highest-temp {
  font-weight: bolder;
  color: white;
}

.bubble {
  font-weight: 300;
  background-color: #9ec7cd;
  padding: 80px -1;
  margin: 10px, 20px;
  max-width: 100%;
  border: thin;
  box-shadow: 5px 5px 10px rgba(98, 109, 114, 0.9);
  border-radius: 5px;
  text-align: center;
  color: white;
}

footer {
  display: block;
  margin: 30px;
}

.open-source {
  display: block;
  margin: -20px auto;
  padding: 20px;
  max-width: 1320px;
  text-decoration: none;
  text-align: center;
  color: #324b4e;
  font-weight: bold;
}

.img {
  float: left;
  height: 57px;
  width: 57px;
  margin: 0;
  padding: 0;
}
